<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YipitData PIT Data Parser</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" type="text/css">
    {% endcompress %}

</head>

<body class="bg-blue-50">
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="flex flex-wrap max-w-screen-xl p-4">
            <ul class="flex flex-row font-medium mt-0 mr-6 space-x-8 text-sm">
                <li style="margin-right: 12px;">
                    <a href="{% url 'index' %}" class="flex items-center">
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white ">YipitData</span>
                    </a>
                </li>
                <li style="margin-right: 12px;">
                    <a href="{% url 'index' %}" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Product List</a>
                </li>
                <li class="mr-24">
                    <a href="{% url 'remaining_view' %}" class="text-gray-900 dark:text-white hover:underline">Remaining</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mx-auto mt-4">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>

</html>