<!-- templates/view_product.html -->

{% extends "_base.html" %}

{% block content %}

   <div>
      <span class="px-4 py-2 my-2 text-base text-gray-700">Select a data file to label</span>
      {% if files %}
         <div class="relative overflow-x-auto">
             <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                 <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                     <tr>
                         <th scope="col" class="px-6 py-3">
                             Data file name
                         </th>
                         <th scope="col" class="px-6 py-3">
                             Is Processed
                         </th>
                         <th scope="col" class="px-6 py-3">
                             Action
                         </th>
                     </tr>
                 </thead>
                 <tbody>
                     {% for file in files %}
                     <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                         <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                             {{file.filename}}
                         </th>
                         <td class="px-6 py-8 flex items-center">
                             {% if file.status == 3 %}
                                <svg class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"></path></svg>
                             {% else %}
                                <svg class="w-4 h-4 mr-1.5 text-gray-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
                             {% endif %}
                             <span>{{file.get_status_display}}</span>
                         </td>
                         <td class="px-6 py-4">
                              {% if file.status == 3 %}
                                <a href="{% url 'create_annotate_data_file' mango_product_id=product_id mango_product_file_id=file.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                    <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-green-600 hover:text-white focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-green-600">Annotate</button>
                                 </a>
                              {% else %}
                                <a href="{% url 'process_data_file' mango_product_id=product_id mango_product_file_id=file.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                    <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-blue-400 hover:text-white focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-blue-400">Process</button>
                                </a>
                              {% endif %}
                         </td>
                     </tr>
                     {% endfor %}
                 </tbody>
             </table>
         </div>
      {% else %}
        <div class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600 bg-slate-100">
           <span class="text-slate-500">(No data files found)</span>
        </div>
      {% endif %}
   </div>

{% endblock content %}